<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- LEAFLET -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
      integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
      crossorigin=""></script>
    <!-- END LEAFLET -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <title>ASMA Project 1</title>
  </head>
  <body>
    <h1>Armazon Delivery Simulation</h1>
    <h2>Metrics</h2>
    <p>
      <b>Average distance:&ensp;</b><span id="average_distance">0.0</span> km<br>
      <b>Average capacity:&ensp;</b><span id="average_capacity">0.0</span> %<br>
      <b>Average autonomy:&ensp;</b><span id="average_autonomy">0.0</span> %<br>
      <b>Average orders delivered:&ensp;</b><span id="average_orders_delivered">0.0</span><br>
    </p>
    <!-- LEAFLET -->
    <div id="mapid" style="width: 100%; height: 600px;"></div>
    <script>
      var mymap = L.map('mapid').setView([18.986286495910905, 72.90917968750001], 12);
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 18,
          id: 'mapbox.streets',
      }).addTo(mymap);

      mapMarkers = {};

      var TIME_INTERVAL = 3000;

      var orderIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-blue.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [20, 33],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [33, 33]
      });

      var completedOrderIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-black.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [15, 23],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [23, 23],
      });

      var warehouseIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [30.5, 50],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [50, 50]
      });

      var droneIcon = new L.Icon({
        iconUrl: 'https://static-00.iconduck.com/assets.00/uav-quadcopter-icon-1024x1024-cy7ecu25.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [35, 35],
        iconAnchor: [35, 35],
        popupAnchor: [1, -34],
        shadowSize: [40, 40]
      });

      /*
      E.g
        {
          'id' : 1,
          'type' : 'drone',
          'latitude' : 18.986286495910905,
          'longitude' : 72.90917968750001,
          'distance' : 0.0,
          'capacity' : 100.0,
          'autonomy' : 100.0,
          'orders_delivered' : 0,
        }
      */
      var dronesMetrics = {};
      var averagedDroneMetrics = {};

      function averageMetrics() {
        var totalDistance = 0.0;
        var totalCapacity = 0.0;
        var totalAutonomy = 0.0;
        var totalOrdersDelivered = 0;
        var totalDrones = 0;

        for (var key in dronesMetrics) {
          var drone = dronesMetrics[key];
          totalDistance += drone.distance;
          totalCapacity += drone.capacity;
          totalAutonomy += drone.autonomy;
          totalOrdersDelivered += drone.orders_delivered;
          totalDrones += 1;
        }

        if (totalDrones == 0) {
          totalDrones = 1;
        }

        averagedDroneMetrics['distance'] = totalDistance / totalDrones;
        averagedDroneMetrics['capacity'] = totalCapacity / totalDrones;
        averagedDroneMetrics['autonomy'] = totalAutonomy / totalDrones;
        averagedDroneMetrics['orders_delivered'] = totalOrdersDelivered / totalDrones;

        // update in the html
        document.getElementById('average_distance').innerHTML = averagedDroneMetrics['distance'].toFixed(2);
        document.getElementById('average_capacity').innerHTML = averagedDroneMetrics['capacity'].toFixed(2);
        document.getElementById('average_autonomy').innerHTML = averagedDroneMetrics['autonomy'].toFixed(2);
        document.getElementById('average_orders_delivered').innerHTML = averagedDroneMetrics['orders_delivered'].toFixed(2);
      }


      // get initial data through /get_data TODO: THIS WILL BE DEPRECATED SOON
      fetch('/get_data')
        .then(response => response.json())
        .then(data => {
          for (var key in data) {
            item = data[key];
            if (item.type == 'order') {
              marker = L.marker([item.latitude, item.longitude], {icon: orderIcon, status: false}).addTo(mymap);
              mapMarkers[item.id] = marker;
            } 
            else if (item.type == 'warehouse') {
              marker = L.marker([item.latitude, item.longitude], {icon: warehouseIcon}).addTo(mymap);
              mapMarkers[item.id] = marker;
            }
            else if (item.type == 'drone'){
              marker = L.marker([item.latitude, item.longitude], {icon: droneIcon}).addTo(mymap);
              mapMarkers[item.id] = marker;
            }

            mapMarkers[item.id].bindPopup(item.id);
          }
        });

      var socket = io.connect('/');
      socket.on('update_data', function(data) {
        for (var key in data) {
          item = data[key];
          // if marker exists, update its position
          if (mapMarkers[item.id]) {
            mapMarkers[item.id].setLatLng([item.latitude, item.longitude]);
            
            if(item.type == 'drone') {
              dronesMetrics[item.id] = item;
            }
          }
          // otherwise, create a new marker, according if it is a warehouse, a order or a drone
          else {
            if (item.type == 'order') {
              marker = L.marker([item.latitude, item.longitude], {icon: orderIcon, status: false}).addTo(mymap);
              mapMarkers[item.id] = marker;
            } 
            else if (item.type == 'warehouse') {
              marker = L.marker([item.latitude, item.longitude], {icon: warehouseIcon}).addTo(mymap);
              mapMarkers[item.id] = marker;
            }
            else if (item.type == 'drone'){
              marker = L.marker([item.latitude, item.longitude], {icon: droneIcon}).addTo(mymap);
              mapMarkers[item.id] = marker;
              if(dronesMetrics[item.id] == undefined) {
                dronesMetrics[item.id] = {};
              }
            }
            else {
              console.log('Unknown type: ' + item.type);
              continue;
            }
            mapMarkers[item.id].bindPopup(item.id);
          }

          // Update order status
          if (item.type == 'order' && item.status == true && item.status != mapMarkers[item.id].status) {
            mapMarkers[item.id].status = item.status;
            mapMarkers[item.id].setIcon(completedOrderIcon);
          }
        }

        // Update drones metrics
        averageMetrics();

        /* This is cool but we not using
        for (var key in dronesMetrics) {
          var drone = dronesMetrics[key];
          if (drone.status == 'delivering') {
            var order = mapMarkers[drone.order_id];
            var distance = drone.distance;
            var time = drone.time;
            var speed = drone.speed;
            var eta = drone.eta;
            var distanceToOrder = drone.distance_to_order;
            var distanceToWarehouse = drone.distance_to_warehouse;
            var battery = drone.battery;
            var batteryStatus = drone.battery_status;
            var batteryColor = 'green';
            if (batteryStatus == 'low') {
              batteryColor = 'red';
            }
            else if (batteryStatus == 'medium') {
              batteryColor = 'yellow';
            }
            var popupContent = '<b>Drone ' + drone.id + '</b><br>' +
              'Status: ' + drone.status + '<br>' +
              'Order: ' + drone.order_id + '<br>' +
              'Distance: ' + distance + ' km<br>' +
              'Time: ' + time + ' s<br>' +
              'Speed: ' + speed + ' km/h<br>' +
              'ETA: ' + eta + ' s<br>' +
              'Distance to order: ' + distanceToOrder + ' km<br>' +
              'Distance to warehouse: ' + distanceToWarehouse + ' km<br>' +
              'Battery: ' + battery + '%<br>' +
              'Battery status: <span style="color:' + batteryColor + ';">' + batteryStatus + '</span>';
            mapMarkers[drone.id].bindPopup(popupContent);
          }
        }
        */
      });

    </script>
    <!-- END LEAFLET -->
  </body>
</html>
